{% extends 'base.html' %}

{% block head %}
<title>Ristsõnalahendaja</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">Ristsõnalahendaja</h1>
    
    <form action="solved_crossword/{{crossword_name}}/0">
        <input type="submit" value="Lahenda ristsõna">
    </form>

    <table>
        <tbody>
            <tr>
                <td>Tähis</td>
                <td>V</td>
                <td>W</td>
                <td>O</td>
                <td>X</td>
            </tr>
            <tr>
                <td>Tähendus</td>
                <td>Vihje</td>
                <td>Topeltvihje</td>
                <td>Vastuse lahter</td>
                <td>Ebarelevantne</td>
            </tr>
        </tbody>
    </table>

    <div id="image" class="image">
        <img src="{{base64img}}">
    </div>

</div>
{% endblock %}