{% extends 'base.html' %}

{% block head %}
<title>Ristsõnalahendaja</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">Ristsõnalahendaja</h1>

    <form action="{{url_for('ristsona.upload_file')}}" method="POST" id="POST"
          enctype=multipart/form-data>
      <input type="file" id="myFile" name="filename">
      <input type="submit" onclick="myFunction()">
    </form>

    <textarea readonly id="description" name="description" rows="10" cols="60">
      {{ description }}
    </textarea>


</div>

<div class="loader" id="loader" style="display: none;"></div>

<script>
  function myFunction() {
    var x = document.getElementById("loader");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% endblock %}