{% extends 'base.html' %}

{% block head %}
<title>Ristsõnalahendaja</title>
{% endblock %}

{% block body %}
<h1 style="text-align: left">Ristsõnalahendaja</h1>
<div id="solved_content">
  
  <div id="image" class="image">
    <img src="{{base64img}}">
  </div>

  <div class="dropdown">
    <button class="dropbtn">Vali lahendus</button>
    <div class="dropdown-content">
      {% for solution in solutions %}
        {% if loop.index0 == solution_id %}
          <a id="currently_selected" href="{{loop.index0}}">Lahendus {{loop.index0}}, skoor-{{solution[1]}}, ristumised-{{solution[2]}}</a>
        {% else %}
          <a href="{{loop.index0}}">Lahendus {{loop.index0}}, skoor-{{solution[1]}}, ristumised-{{solution[2]}}</a>
        {% endif %}
        
      {% endfor %}
    </div>
  </div>

    
</div>
{% endblock %}